version: 2
updates:
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 99
    target-branch: main
    groups:
      dev-dependencies:
        patterns:
          - "bump2version"
          - "black"
          - "pytest*"
          - "ruff"

  - package-ecosystem: pip
    directory: "/e2e"
    schedule:
      interval: weekly
    open-pull-requests-limit: 99
    target-branch: main
    groups:
      e2e-dependencies:
        patterns:
          - "*"

  - package-ecosystem: npm
    directory: "/ui"
    schedule:
      interval: weekly
    open-pull-requests-limit: 99
    target-branch: main
    groups:
      dev:
        dependency-type: "development"
        exclude-patterns:
          # We want to maintain control over which type updates we merge to make
          # sure they are in sync with the respective package
          - "@types/*"
      i18n:
        patterns:
          - "@formatjs/*"
          - "react-intl"
      blueprint:
        patterns:
          - "@blueprintjs/*"

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 99
    target-branch: main

  - package-ecosystem: docker
    directory: "/ui"
    schedule:
      interval: weekly
    open-pull-requests-limit: 99
    target-branch: main

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 99
    target-branch: main
