adbc-driver-manager==1.12.0 ; python_version >= "3.12" and python_version < "3.15"
adbc-driver-postgresql==1.12.0 ; python_version >= "3.12" and python_version < "3.15"
aiobotocore==3.9.0 ; python_version >= "3.12" and python_version < "3.15"
aiohappyeyeballs==2.7.1 ; python_version >= "3.12" and python_version < "3.15"
aiohttp==3.14.3 ; python_version >= "3.12" and python_version < "3.15"
aioitertools==0.13.0 ; python_version >= "3.12" and python_version < "3.15"
aiosignal==1.4.0 ; python_version >= "3.12" and python_version < "3.15"
alembic==1.19.1 ; python_version >= "3.12" and python_version < "3.15"
annotated-doc==0.0.5 ; python_version >= "3.12" and python_version < "3.15"
annotated-types==0.8.0 ; python_version >= "3.12" and python_version < "3.15"
anyio==4.14.2 ; python_version >= "3.12" and python_version < "3.15"
anystore==1.3.1 ; python_version >= "3.12" and python_version < "3.15"
apispec-webframeworks==1.2.0 ; python_version >= "3.12" and python_version < "3.15"
apispec==6.10.0 ; python_version >= "3.12" and python_version < "3.15"
arro3-core==0.8.1 ; python_version >= "3.12" and python_version < "3.15"
asgiref==3.12.1 ; python_version >= "3.12" and python_version < "3.15"
ast-serialize==0.8.0 ; python_version >= "3.12" and python_version < "3.15"
attrs==26.1.0 ; python_version >= "3.12" and python_version < "3.15"
authlib==0.15.6 ; python_version >= "3.12" and python_version < "3.15"
babel==2.18.0 ; python_version >= "3.12" and python_version < "3.15"
backports-zstd==1.7.0 ; python_version >= "3.12" and python_version < "3.14"
banal==1.1.2 ; python_version >= "3.12" and python_version < "3.15"
blinker==1.9.0 ; python_version >= "3.12" and python_version < "3.15"
boto3==1.43.56 ; python_version >= "3.12" and python_version < "3.15"
botocore==1.43.56 ; python_version >= "3.12" and python_version < "3.15"
cachetools==5.5.2 ; python_version >= "3.12" and python_version < "3.15"
certifi==2026.7.22 ; python_version >= "3.12" and python_version < "3.15"
cffi==2.1.1 ; python_version >= "3.12" and python_version < "3.15" and platform_python_implementation != "PyPy"
chardet==7.6.0 ; python_version >= "3.12" and python_version < "3.15"
charset-normalizer==3.5.1 ; python_version >= "3.12" and python_version < "3.15"
click==8.5.0 ; python_version >= "3.12" and python_version < "3.15"
cloudpickle==3.1.2 ; python_version >= "3.12" and python_version < "3.15"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.15"
croniter==6.2.4 ; python_version >= "3.12" and python_version < "3.15"
cryptography==49.0.0 ; python_version >= "3.12" and python_version < "3.15"
dateparser==1.4.2 ; python_version >= "3.12" and python_version < "3.15"
deltalake==1.6.3 ; python_version >= "3.12" and python_version < "3.15"
deprecated==1.3.1 ; python_version >= "3.12" and python_version < "3.15"
duckdb==1.5.5 ; python_version >= "3.12" and python_version < "3.15"
elastic-transport==9.4.2 ; python_version >= "3.12" and python_version < "3.15"
elasticsearch==9.5.0 ; python_version >= "3.12" and python_version < "3.15"
et-xmlfile==2.0.0 ; python_version >= "3.12" and python_version < "3.15"
fakeredis==2.30.3 ; python_version >= "3.12" and python_version < "3.15"
fingerprints==1.3.1 ; python_version >= "3.12" and python_version < "3.15"
flask-babel==4.0.0 ; python_version >= "3.12" and python_version < "3.15"
flask-cors==6.0.5 ; python_version >= "3.12" and python_version < "3.15"
flask-mail==0.10.0 ; python_version >= "3.12" and python_version < "3.15"
flask-migrate==4.1.0 ; python_version >= "3.12" and python_version < "3.15"
flask-sqlalchemy==3.1.1 ; python_version >= "3.12" and python_version < "3.15"
flask-talisman==1.1.0 ; python_version >= "3.12" and python_version < "3.15"
flask==2.3.3 ; python_version >= "3.12" and python_version < "3.15"
followthemoney-compare @ git+https://github.com/dataresearchcenter/followthemoney-compare.git@3684650862d2b26f30ae74fe5383539dbb567077 ; python_version >= "3.12" and python_version < "3.15"
followthemoney==4.10.2 ; python_version >= "3.12" and python_version < "3.15"
frozenlist==1.8.0 ; python_version >= "3.12" and python_version < "3.15"
fsspec==2026.7.0 ; python_version >= "3.12" and python_version < "3.15"
ftm-lakehouse==0.7.0 ; python_version >= "3.12" and python_version < "3.15"
ftmq==5.0.0 ; python_version >= "3.12" and python_version < "3.15"
fuzzywuzzy==0.18.0 ; python_version >= "3.12" and python_version < "3.15"
google-api-core==2.34.0 ; python_version >= "3.12" and python_version < "3.15"
google-auth==2.57.0 ; python_version >= "3.12" and python_version < "3.15"
google-cloud-core==2.7.0 ; python_version >= "3.12" and python_version < "3.15"
google-cloud-storage==2.19.0 ; python_version >= "3.12" and python_version < "3.15"
google-crc32c==1.8.0 ; python_version >= "3.12" and python_version < "3.15"
google-resumable-media==2.10.2 ; python_version >= "3.12" and python_version < "3.15"
googleapis-common-protos==1.75.2 ; python_version >= "3.12" and python_version < "3.15"
granian==2.8.2 ; python_version >= "3.12" and python_version < "3.15"
greenlet==3.5.5 ; python_version >= "3.12" and python_version < "3.15" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio==1.83.1 ; python_version >= "3.12" and python_version < "3.15"
gunicorn==26.2.0 ; python_version >= "3.12" and python_version < "3.15"
h11==0.16.0 ; python_version >= "3.12" and python_version < "3.15"
httpcore==1.0.9 ; python_version >= "3.12" and python_version < "3.15"
httpx==0.28.1 ; python_version >= "3.12" and python_version < "3.15"
idna==3.19 ; python_version >= "3.12" and python_version < "3.15"
imohash==1.1.0 ; python_version >= "3.12" and python_version < "3.15"
importlib-resources==7.1.0 ; python_version >= "3.12" and python_version < "3.15"
itsdangerous==2.2.0 ; python_version >= "3.12" and python_version < "3.15"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "3.15"
jmespath==1.1.0 ; python_version >= "3.12" and python_version < "3.15"
joblib==1.6.0 ; python_version >= "3.12" and python_version < "3.15"
jsonschema-specifications==2025.9.1 ; python_version >= "3.12" and python_version < "3.15"
jsonschema==4.26.0 ; python_version >= "3.12" and python_version < "3.15"
legacy-cgi==2.6.4 ; python_version >= "3.13" and python_version < "3.15"
levenshtein==0.27.4 ; python_version >= "3.12" and python_version < "3.15"
librt==0.15.0 ; python_version >= "3.12" and python_version < "3.15" and platform_python_implementation != "PyPy"
linkify-it-py==2.2.0 ; python_version >= "3.12" and python_version < "3.15"
lxml==6.1.2 ; python_version >= "3.12" and python_version < "3.15"
mako==1.4.1 ; python_version >= "3.12" and python_version < "3.15"
markdown-it-py==4.2.0 ; python_version >= "3.12" and python_version < "3.15"
markupsafe==3.0.3 ; python_version >= "3.12" and python_version < "3.15"
marshmallow==4.3.1 ; python_version >= "3.12" and python_version < "3.15"
mdit-py-plugins==0.6.1 ; python_version >= "3.12" and python_version < "3.15"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "3.15"
mmh3==5.3.0 ; python_version >= "3.12" and python_version < "3.15"
multidict==6.7.1 ; python_version >= "3.12" and python_version < "3.15"
mypy-extensions==1.1.0 ; python_version >= "3.12" and python_version < "3.15"
mypy==2.3.1 ; python_version >= "3.12" and python_version < "3.15"
narwhals==2.25.0 ; python_version >= "3.12" and python_version < "3.15"
networkx==3.6 ; python_version == "3.14"
networkx==3.6.1 ; python_version >= "3.12" and python_version < "3.14"
nh3==0.3.7 ; python_version >= "3.12" and python_version < "3.15"
nomenklatura==4.14.0 ; python_version >= "3.12" and python_version < "3.15"
normality==3.1.0 ; python_version >= "3.12" and python_version < "3.15"
numpy==2.5.2 ; python_version >= "3.12" and python_version < "3.15"
openaleph-procrastinate @ git+https://github.com/openaleph/openaleph-procrastinate.git@dcac2061074f17e96cc45600ec5d2327bd7c20f5 ; python_version >= "3.12" and python_version < "3.15"
openaleph-search==5.3.3 ; python_version >= "3.12" and python_version < "3.15"
openaleph-servicelayer==1.25.0 ; python_version >= "3.12" and python_version < "3.15"
openpyxl==3.1.5 ; python_version >= "3.12" and python_version < "3.15"
orjson==3.12.0 ; python_version >= "3.12" and python_version < "3.15"
packaging==26.3 ; python_version >= "3.12" and python_version < "3.15"
pandas==3.0.5 ; python_version >= "3.12" and python_version < "3.15"
pathspec==1.1.1 ; python_version >= "3.12" and python_version < "3.15"
phonenumbers==9.0.38 ; python_version >= "3.12" and python_version < "3.15"
platformdirs==4.11.7 ; python_version >= "3.12" and python_version < "3.15"
prefixdate==0.6.1 ; python_version >= "3.12" and python_version < "3.15"
procrastinate==3.9.0 ; python_version >= "3.12" and python_version < "3.15"
prometheus-client==0.20.0 ; python_version >= "3.12" and python_version < "3.15"
propcache==0.5.2 ; python_version >= "3.12" and python_version < "3.15"
proto-plus==1.28.4 ; python_version >= "3.12" and python_version < "3.15"
protobuf==7.36.1 ; python_version >= "3.12" and python_version < "3.15"
psycopg-pool==3.3.1 ; python_version >= "3.12" and python_version < "3.15"
psycopg2-binary==2.9.12 ; python_version >= "3.12" and python_version < "3.15"
psycopg==3.3.5 ; python_version >= "3.12" and python_version < "3.15"
putfs==0.4.2 ; python_version >= "3.12" and python_version < "3.15"
pyaml==26.7.0 ; python_version >= "3.12" and python_version < "3.15"
pyarrow==25.0.1 ; python_version >= "3.12" and python_version < "3.15"
pyasn1-modules==0.4.2 ; python_version >= "3.12" and python_version < "3.15"
pyasn1==0.6.4 ; python_version >= "3.12" and python_version < "3.15"
pycparser==3.0 ; python_version >= "3.12" and python_version < "3.15" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pydantic-core==2.46.5 ; python_version >= "3.12" and python_version < "3.15"
pydantic-settings==2.15.0 ; python_version >= "3.12" and python_version < "3.15"
pydantic==2.13.5 ; python_version >= "3.12" and python_version < "3.15"
pygments==2.21.0 ; python_version >= "3.12" and python_version < "3.15"
pyicu==2.16.2 ; python_version >= "3.12" and python_version < "3.15"
pyjwt==2.13.0 ; python_version >= "3.12" and python_version < "3.15"
pyparsing==3.3.2 ; python_version >= "3.12" and python_version < "3.15"
pyrql==0.7.11 ; python_version >= "3.12" and python_version < "3.15"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.15"
python-dotenv==1.2.3 ; python_version >= "3.12" and python_version < "3.15"
python-frontmatter==1.3.0 ; python_version >= "3.12" and python_version < "3.15"
python-levenshtein==0.27.4 ; python_version >= "3.12" and python_version < "3.15"
python-stdnum==2.2 ; python_version >= "3.12" and python_version < "3.15"
pytz==2026.3.post1 ; python_version >= "3.12" and python_version < "3.15"
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "3.15"
rapidfuzz==3.14.6 ; python_version >= "3.12" and python_version < "3.15"
rdflib==7.6.0 ; python_version >= "3.12" and python_version < "3.15"
redis==8.1.0 ; python_version >= "3.12" and python_version < "3.15"
referencing==0.37.0 ; python_version >= "3.12" and python_version < "3.15"
regex==2026.9.3 ; python_version >= "3.12" and python_version < "3.15"
requests==2.34.2 ; python_version >= "3.12" and python_version < "3.15"
rich==15.0.0 ; python_version >= "3.12" and python_version < "3.15"
rigour==2.4.0 ; python_version >= "3.12" and python_version < "3.15"
rpds-py==2026.6.3 ; python_version >= "3.12" and python_version < "3.15"
s3fs==2026.7.0 ; python_version >= "3.12" and python_version < "3.15"
s3transfer==0.19.2 ; python_version >= "3.12" and python_version < "3.15"
scikit-learn==1.9.0 ; python_version >= "3.12" and python_version < "3.15"
scipy==1.18.1 ; python_version >= "3.12" and python_version < "3.15"
sentry-sdk==2.19.2 ; python_version >= "3.12" and python_version < "3.15"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "3.15"
shortuuid==1.0.13 ; python_version >= "3.12" and python_version < "3.15"
six==1.17.0 ; python_version >= "3.12" and python_version < "3.15"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "3.15"
sortedcontainers==2.4.0 ; python_version >= "3.12" and python_version < "3.15"
sqlalchemy==2.0.52 ; python_version >= "3.12" and python_version < "3.15"
starlette==1.6.0 ; python_version >= "3.12" and python_version < "3.15"
structlog==24.4.0 ; python_version >= "3.12" and python_version < "3.15"
tabulate==0.10.0 ; python_version >= "3.12" and python_version < "3.15"
textual==8.2.8 ; python_version >= "3.12" and python_version < "3.15"
threadpoolctl==3.6.0 ; python_version >= "3.12" and python_version < "3.15"
tqdm==4.70.0 ; python_version >= "3.12" and python_version < "3.15"
typer==0.27.2 ; python_version >= "3.12" and python_version < "3.15"
typing-extensions==4.16.0 ; python_version >= "3.12" and python_version < "3.15"
typing-inspection==0.4.4 ; python_version >= "3.12" and python_version < "3.15"
tzdata==2026.3 ; python_version >= "3.12" and python_version < "3.15" and (sys_platform == "win32" or sys_platform == "emscripten" or platform_system == "Windows")
tzlocal==5.4.4 ; python_version >= "3.12" and python_version < "3.15"
urllib3==2.7.0 ; python_version >= "3.12" and python_version < "3.15"
uuid7==0.1.0 ; python_version >= "3.12" and python_version < "3.15"
uvloop==0.22.1 ; python_version >= "3.12" and python_version < "3.15"
varint==1.0.2 ; python_version >= "3.12" and python_version < "3.15"
werkzeug==3.1.8 ; python_version >= "3.12" and python_version < "3.15"
wrapt==2.4.0 ; python_version >= "3.12" and python_version < "3.15"
yarl==1.24.5 ; python_version >= "3.12" and python_version < "3.15"
zfs-agent==0.0.1 ; python_version >= "3.12" and python_version < "3.15"
zipstream-new==1.1.8 ; python_version >= "3.12" and python_version < "3.15"
