ahocorasick-rs==1.0.3 ; python_version >= "3.12" and python_version < "3.14"
aiobotocore==3.1.3 ; python_version >= "3.12" and python_version < "3.14"
aiohappyeyeballs==2.6.1 ; python_version >= "3.12" and python_version < "3.14"
aiohttp==3.13.3 ; python_version >= "3.12" and python_version < "3.14"
aioitertools==0.13.0 ; python_version >= "3.12" and python_version < "3.14"
aiosignal==1.4.0 ; python_version >= "3.12" and python_version < "3.14"
alembic==1.14.0 ; python_version >= "3.12" and python_version < "3.14"
annotated-doc==0.0.4 ; python_version >= "3.12" and python_version < "3.14"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "3.14"
anyio==4.12.1 ; python_version >= "3.12" and python_version < "3.14"
anystore==1.0.1 ; python_version >= "3.12" and python_version < "3.14"
apispec-webframeworks==1.2.0 ; python_version >= "3.12" and python_version < "3.14"
apispec==6.7.1 ; python_version >= "3.12" and python_version < "3.14"
asgiref==3.11.1 ; python_version >= "3.12" and python_version < "3.14"
attrs==25.4.0 ; python_version >= "3.12" and python_version < "3.14"
authlib==0.15.5 ; python_version >= "3.12" and python_version < "3.14"
babel==2.16.0 ; python_version >= "3.12" and python_version < "3.14"
banal==1.0.6 ; python_version >= "3.12" and python_version < "3.14"
blinker==1.9.0 ; python_version >= "3.12" and python_version < "3.14"
boto3==1.42.49 ; python_version >= "3.12" and python_version < "3.14"
botocore==1.42.49 ; python_version >= "3.12" and python_version < "3.14"
cachetools==5.5.2 ; python_version >= "3.12" and python_version < "3.14"
certifi==2026.1.4 ; python_version >= "3.12" and python_version < "3.14"
cffi==2.0.0 ; python_version >= "3.12" and python_version < "3.14" and platform_python_implementation != "PyPy"
chardet==5.2.0 ; python_version >= "3.12" and python_version < "3.14"
charset-normalizer==3.4.4 ; python_version >= "3.12" and python_version < "3.14"
click-default-group==1.2.4 ; python_version >= "3.12" and python_version < "3.14"
click==8.3.1 ; python_version >= "3.12" and python_version < "3.14"
cloudpickle==3.1.2 ; python_version >= "3.12" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.14"
croniter==6.0.0 ; python_version >= "3.12" and python_version < "3.14"
cryptography==43.0.3 ; python_version >= "3.12" and python_version < "3.14"
dateparser==1.3.0 ; python_version >= "3.12" and python_version < "3.14"
dnspython==2.8.0 ; python_version >= "3.12" and python_version < "3.14"
duckdb==1.4.4 ; python_version >= "3.12" and python_version < "3.14"
elastic-transport==9.2.1 ; python_version >= "3.12" and python_version < "3.14"
elasticsearch==9.3.0 ; python_version >= "3.12" and python_version < "3.14"
et-xmlfile==2.0.0 ; python_version >= "3.12" and python_version < "3.14"
eventlet==0.40.4 ; python_version >= "3.12" and python_version < "3.14"
fakeredis==2.30.3 ; python_version >= "3.12" and python_version < "3.14"
fingerprints==1.3.1 ; python_version >= "3.12" and python_version < "3.14"
flask-babel==4.0.0 ; python_version >= "3.12" and python_version < "3.14"
flask-cors==5.0.0 ; python_version >= "3.12" and python_version < "3.14"
flask-mail==0.10.0 ; python_version >= "3.12" and python_version < "3.14"
flask-migrate==4.0.7 ; python_version >= "3.12" and python_version < "3.14"
flask-sqlalchemy==3.1.1 ; python_version >= "3.12" and python_version < "3.14"
flask-talisman==1.1.0 ; python_version >= "3.12" and python_version < "3.14"
flask==2.3.3 ; python_version >= "3.12" and python_version < "3.14"
followthemoney @ git+https://github.com/dataresearchcenter/followthemoney.git@0a927979f5ab897d022800b15e61669abdfc8c81 ; python_version >= "3.12" and python_version < "3.14"
followthemoney-compare @ git+https://github.com/dataresearchcenter/followthemoney-compare.git@3684650862d2b26f30ae74fe5383539dbb567077 ; python_version >= "3.12" and python_version < "3.14"
frozenlist==1.8.0 ; python_version >= "3.12" and python_version < "3.14"
fsspec==2026.2.0 ; python_version >= "3.12" and python_version < "3.14"
ftmq==4.5.3 ; python_version >= "3.12" and python_version < "3.14"
fuzzywuzzy==0.18.0 ; python_version >= "3.12" and python_version < "3.14"
google-api-core==2.29.0 ; python_version >= "3.12" and python_version < "3.14"
google-auth==2.48.0 ; python_version >= "3.12" and python_version < "3.14"
google-cloud-core==2.5.0 ; python_version >= "3.12" and python_version < "3.14"
google-cloud-storage==2.19.0 ; python_version >= "3.12" and python_version < "3.14"
google-crc32c==1.8.0 ; python_version >= "3.12" and python_version < "3.14"
google-resumable-media==2.8.0 ; python_version >= "3.12" and python_version < "3.14"
googleapis-common-protos==1.72.0 ; python_version >= "3.12" and python_version < "3.14"
greenlet==3.3.1 ; python_version >= "3.12" and python_version < "3.14"
grpcio==1.78.0 ; python_version >= "3.12" and python_version < "3.14"
gunicorn==23.0.0 ; python_version >= "3.12" and python_version < "3.14"
idna==3.11 ; python_version >= "3.12" and python_version < "3.14"
itsdangerous==2.2.0 ; python_version >= "3.12" and python_version < "3.14"
jellyfish==1.2.1 ; python_version >= "3.12" and python_version < "3.14"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "3.14"
jmespath==1.1.0 ; python_version >= "3.12" and python_version < "3.14"
joblib==1.5.3 ; python_version >= "3.12" and python_version < "3.14"
jsonschema-specifications==2025.9.1 ; python_version >= "3.12" and python_version < "3.14"
jsonschema==4.23.0 ; python_version >= "3.12" and python_version < "3.14"
legacy-cgi==2.6.4 ; python_version == "3.13"
levenshtein==0.27.3 ; python_version >= "3.12" and python_version < "3.14"
librt==0.8.0 ; python_version >= "3.12" and python_version < "3.14" and platform_python_implementation != "PyPy"
linkify-it-py==2.0.3 ; python_version >= "3.12" and python_version < "3.14"
lxml-html-clean==0.4.3 ; python_version >= "3.12" and python_version < "3.14"
lxml==5.4.0 ; python_version >= "3.12" and python_version < "3.14"
mako==1.3.10 ; python_version >= "3.12" and python_version < "3.14"
markdown-it-py==4.0.0 ; python_version >= "3.12" and python_version < "3.14"
markupsafe==3.0.3 ; python_version >= "3.12" and python_version < "3.14"
marshmallow==3.23.1 ; python_version >= "3.12" and python_version < "3.14"
mdit-py-plugins==0.5.0 ; python_version >= "3.12" and python_version < "3.14"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "3.14"
mmh3==5.2.0 ; python_version >= "3.12" and python_version < "3.14"
multidict==6.7.1 ; python_version >= "3.12" and python_version < "3.14"
mypy-extensions==1.1.0 ; python_version >= "3.12" and python_version < "3.14"
mypy==1.19.1 ; python_version >= "3.12" and python_version < "3.14"
networkx==3.4.2 ; python_version >= "3.12" and python_version < "3.14"
nomenklatura==4.6.1 ; python_version >= "3.12" and python_version < "3.14"
normality==3.0.2 ; python_version >= "3.12" and python_version < "3.14"
numpy==2.4.2 ; python_version >= "3.12" and python_version < "3.14"
openaleph-procrastinate @ git+https://github.com/openaleph/openaleph-procrastinate.git@7a8d29c3049ccbc6ddfeb1cc8079926212c4ff98 ; python_version >= "3.12" and python_version < "3.14"
openaleph-search==5.1.2 ; python_version >= "3.12" and python_version < "3.14"
openaleph-servicelayer==1.23.4 ; python_version >= "3.12" and python_version < "3.14"
openpyxl==3.1.5 ; python_version >= "3.12" and python_version < "3.14"
orjson==3.11.7 ; python_version >= "3.12" and python_version < "3.14"
packaging==26.0 ; python_version >= "3.12" and python_version < "3.14"
pandas==3.0.0 ; python_version >= "3.12" and python_version < "3.14"
pantomime==0.6.1 ; python_version >= "3.12" and python_version < "3.14"
pathspec==1.0.4 ; python_version >= "3.12" and python_version < "3.14"
phonenumbers==9.0.24 ; python_version >= "3.12" and python_version < "3.14"
platformdirs==4.9.2 ; python_version >= "3.12" and python_version < "3.14"
prefixdate==0.5.0 ; python_version >= "3.12" and python_version < "3.14"
procrastinate==3.7.2 ; python_version >= "3.12" and python_version < "3.14"
prometheus-client==0.20.0 ; python_version >= "3.12" and python_version < "3.14"
propcache==0.4.1 ; python_version >= "3.12" and python_version < "3.14"
proto-plus==1.27.1 ; python_version >= "3.12" and python_version < "3.14"
protobuf==6.33.5 ; python_version >= "3.12" and python_version < "3.14"
psycopg-pool==3.3.0 ; python_version >= "3.12" and python_version < "3.14"
psycopg==3.3.2 ; python_version >= "3.12" and python_version < "3.14"
pyaml==25.7.0 ; python_version >= "3.12" and python_version < "3.14"
pyasn1-modules==0.4.2 ; python_version >= "3.12" and python_version < "3.14"
pyasn1==0.6.2 ; python_version >= "3.12" and python_version < "3.14"
pycparser==3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.12" and python_version < "3.14"
pydantic-settings==2.13.0 ; python_version >= "3.12" and python_version < "3.14"
pydantic==2.12.5 ; python_version >= "3.12" and python_version < "3.14"
pygments==2.19.2 ; python_version >= "3.12" and python_version < "3.14"
pyicu==2.16.1 ; python_version >= "3.12" and python_version < "3.14"
pyjwt==2.9.0 ; python_version >= "3.12" and python_version < "3.14"
pyparsing==3.3.2 ; python_version >= "3.12" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.14"
python-dotenv==1.2.1 ; python_version >= "3.12" and python_version < "3.14"
python-frontmatter==1.1.0 ; python_version >= "3.12" and python_version < "3.14"
python-levenshtein==0.27.3 ; python_version >= "3.12" and python_version < "3.14"
python-stdnum==2.2 ; python_version >= "3.12" and python_version < "3.14"
pytz==2025.2 ; python_version >= "3.12" and python_version < "3.14"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "3.14"
rapidfuzz==3.14.3 ; python_version >= "3.12" and python_version < "3.14"
rdflib==7.5.0 ; python_version >= "3.12" and python_version < "3.14"
redis==7.2.0 ; python_version >= "3.12" and python_version < "3.14"
referencing==0.37.0 ; python_version >= "3.12" and python_version < "3.14"
regex==2026.1.15 ; python_version >= "3.12" and python_version < "3.14"
requests==2.32.3 ; python_version >= "3.12" and python_version < "3.14"
rich==14.3.2 ; python_version >= "3.12" and python_version < "3.14"
rigour==1.7.2 ; python_version >= "3.12" and python_version < "3.14"
rpds-py==0.30.0 ; python_version >= "3.12" and python_version < "3.14"
rsa==4.9.1 ; python_version >= "3.12" and python_version < "3.14"
s3fs==2026.2.0 ; python_version >= "3.12" and python_version < "3.14"
s3transfer==0.16.0 ; python_version >= "3.12" and python_version < "3.14"
scikit-learn==1.7.2 ; python_version >= "3.12" and python_version < "3.14"
scipy==1.17.0 ; python_version >= "3.12" and python_version < "3.14"
sentry-sdk==2.19.2 ; python_version >= "3.12" and python_version < "3.14"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "3.14"
shortuuid==1.0.13 ; python_version >= "3.12" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.12" and python_version < "3.14"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "3.14"
sortedcontainers==2.4.0 ; python_version >= "3.12" and python_version < "3.14"
sqlalchemy==2.0.36 ; python_version >= "3.12" and python_version < "3.14"
structlog==24.4.0 ; python_version >= "3.12" and python_version < "3.14"
tabulate==0.9.0 ; python_version >= "3.12" and python_version < "3.14"
textual==6.12.0 ; python_version >= "3.12" and python_version < "3.14"
threadpoolctl==3.6.0 ; python_version >= "3.12" and python_version < "3.14"
tqdm==4.67.3 ; python_version >= "3.12" and python_version < "3.14"
typer==0.24.0 ; python_version >= "3.12" and python_version < "3.14"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "3.14"
typing-inspection==0.4.2 ; python_version >= "3.12" and python_version < "3.14"
tzdata==2025.3 ; python_version >= "3.12" and python_version < "3.14" and (sys_platform == "win32" or sys_platform == "emscripten" or platform_system == "Windows")
tzlocal==5.3.1 ; python_version >= "3.12" and python_version < "3.14"
uc-micro-py==1.0.3 ; python_version >= "3.12" and python_version < "3.14"
urllib3==2.6.3 ; python_version >= "3.12" and python_version < "3.14"
uuid7==0.1.0 ; python_version >= "3.12" and python_version < "3.14"
werkzeug==3.1.5 ; python_version >= "3.12" and python_version < "3.14"
wrapt==2.1.1 ; python_version >= "3.12" and python_version < "3.14"
yarl==1.22.0 ; python_version >= "3.12" and python_version < "3.14"
zipstream-new==1.1.8 ; python_version >= "3.12" and python_version < "3.14"
