$black-90: #182026;
$black-80: #2e363d;
$black-70: #464e55;
$black-60: #5e676f;
$black-50: #788289;
$black-40: #939da5;
$black-30: #afb9c1;
$black-20: #ccd6de;
$black-10: #eaf4fc;

$white: #fff8f1;
$white-3: #fff8f1;
$white-5: #fff8f1;
$white-10: #fff8f1;

// darc greens
$darc-green-50: #F1FFF8;
$darc-green-100: #DAFFEC;
$darc-green-200: #BEFFDF;
$darc-green-300: #9DFFD0;
$darc-green-400: #83FFC3;
$darc-green-500: #69FEB5;
$darc-green-600: #63EEAA;
$darc-green-700: #58D99A;
$darc-green-800: #51C68C;
$darc-green-900: #43A473;

// darc oranges
$darc-orange-50: #FAEAE8;
$darc-orange-100: #FECEC0;
$darc-orange-200: #FEAE98;
$darc-orange-300: #FE8F6F;
$darc-orange-400: #FE764F;
$darc-orange-500: #FF5F33;
$darc-orange-600: #F4592F;
$darc-orange-700: #E6522A;
$darc-orange-800: #D74C26;
$darc-orange-900: #BD401F;

// darc purples
$darc-purple-50: #EDE7F6;
$darc-purple-100: #D1C4E9;
$darc-purple-200: #B39DDB;
$darc-purple-300: #9575CD;
$darc-purple-400: #7E57C2;
$darc-purple-500: #673AB7;
$darc-purple-600: #5E35B1;
$darc-purple-700: #512DA8;
$darc-purple-800: #4527A0;
$darc-purple-900: #311B92;

// darc yellows
$darc-yellow-50: #FFFEE8;
$darc-yellow-100: #FFFAC5;
$darc-yellow-200: #FFF69E;
$darc-yellow-300: #FEF177;
$darc-yellow-400: #FCEC57;
$darc-yellow-500: #F9E737;
$darc-yellow-600: #FFDD3B;
$darc-yellow-700: #FFC533;
$darc-yellow-800: #FDAD2B;
$darc-yellow-900: #F9841C;

// accent color (keep in sync with app/variables.scss $aleph-accent-color)
$accent-color: #4A5E78;

// blueprint overrides
$blue2: $accent-color;

@import '@blueprintjs/core/lib/scss/variables';

$editor-background-color: $black-90;
// $editor-border-color: $light-gray1;
$editor-border-radius: 5px;
$editor-box-shadow:
  0 0 0 1px rgba(16, 22, 26, 0.1),
  0 2px 6px rgba(16, 22, 26, 0.2);

$standard-border-radius: 5px;

$sidebar-width: 270px;
$sidebar-gutter: 15px;

$text-color-main: white;
$text-color-secondary: rgba(255, 248, 241, 0.6);
$disabled-color: $black-60;

.error-text {
  font-style: italic;
  font-size: 12px;
  color: #d4130d;
  padding: 5px;
}

$small: 500px;
$medium: 850px;
$large: 110px;

@mixin small {
  @media screen and (max-width: $small) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: $medium) {
    @content;
  }
}

@mixin large {
  @media screen and (max-width: $large) {
    @content;
  }
}

@mixin breakText {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
