@import 'app/variables.scss';

.CollectionAccessDialog {
  .#{$bp-ns}-control.#{$bp-ns}-checkbox {
    margin-bottom: 0;
  }

  .header-topic {
    font-weight: bold;
  }

  .settings-table {
    border-spacing: 0 2px;

    td {
      padding-top: $aleph-grid-size * 0.5;
      padding-bottom: $aleph-grid-size * 0.5;
    }
  }

  .#{$bp-ns}-callout {
    margin-top: $aleph-grid-size;
  }
}
