@import 'app/variables.scss';
@import 'app/mixins.scss';

.CollectionManageMenu__trigger.#{$bp-ns}-button {
  @include pillButton;
  background: rgba($white, 0.15) !important;
  box-shadow: none !important;
  color: $white !important;
  border: 1px solid rgba($white, 0.2);
  padding: 4px 12px !important;

  .#{$bp-ns}-icon {
    color: rgba($white, 0.85) !important;
  }

  &:hover {
    background: rgba($white, 0.25) !important;
    border-color: rgba($white, 0.35);
  }
}
