@import 'app/mixins.scss';
@import 'app/variables.scss';

.CollectionMappingsMode {
  max-width: $aleph-content-width-limit;

  &__title,
  &__description,
  &__actions {
    margin: $aleph-content-padding 0;
  }

  &__title {
    font-size: 20px;
    color: $black;
  }

  &__description {
    color: $darc-gray-600;
    line-height: 1.4;
  }
}
