@import 'app/variables.scss';
@import 'app/mixins.scss';

.Facet {
  margin-bottom: $aleph-grid-size * 1.5;
  background: #fff;
  border: 1px solid rgba($black, 0.08);
  border-radius: $aleph-border-radius;
  overflow: hidden;
  transition: border-color 0.2s ease;

  &:hover {
    border-color: rgba($black, 0.15);
  }

  & > .opener {
    display: flex;
    padding: $aleph-grid-size * 0.3 $aleph-grid-size * 1.5;
    align-items: center;
    cursor: pointer;
    background: transparent !important;

    &.active {
      font-weight: bold;
    }

    &:not(.clickable) {
      pointer-events: none;
    }

    & > .caret {
      @include rtlSupportInvertedProp(
        margin,
        right,
        $aleph-grid-size * 0.5,
        null
      );
      @include rtl(transform, rotate(0deg), rotate(180deg));
      transition: transform 100ms;

      &.rotate {
        transform: rotate(90deg);
      }
    }

    .FacetName {
      padding: $aleph-grid-size 0;
      font-size: 1.1em;
      font-weight: bold;

      .#{$bp-ns}-icon {
        @include rtlSupportInvertedProp(margin, right, 10px !important, null);
      }
    }

    .FilterCount {
      @include rtlSupportInvertedProp(padding, left, $aleph-grid-size, null);
      font-weight: normal;
    }

    & > .ClearButton {
      position: absolute;
      top: $aleph-grid-size * 0.5;
      @include rtl(right, $aleph-grid-size * 0.5, null);
      @include rtl(left, null, $aleph-grid-size * 0.5);

      &a:hover {
        background: $aleph-content-background;
      }
    }

    .Facet__action,
    .#{$bp-ns}-tag {
      position: absolute;
      @include rtl(right, $aleph-grid-size, null);
      @include rtl(left, null, $aleph-grid-size);
    }

    .#{$bp-ns}-tag {
      padding-top: 0;
      padding-bottom: 0;
      font-weight: bold;
      background-color: $aleph-theme-intent;
      color: white;
    }
  }

  .CheckboxList {
    margin-top: $aleph-grid-size * 0.5;
    padding: 0 $aleph-grid-size * 0.5 $aleph-grid-size * 0.5;
  }

  &__no-options {
    color: $aleph-greyed-text;
    margin: 0 $aleph-grid-size * 2.5 $aleph-grid-size * 1.5;
  }

  .DateFacet.Panel {
    box-shadow: none;
    padding: $aleph-grid-size * 1.5 $aleph-grid-size * 1.5 0;
  }

  p {
    text-align: center;
  }

  .spinner {
    margin: $aleph-grid-size auto $aleph-grid-size auto !important;
  }

  .ShowMore {
    margin-top: $aleph-grid-size;
    padding: 0 $aleph-grid-size * 1.5 $aleph-grid-size;
    font-weight: bold;

  }

  .updating {
    opacity: 0.5;
  }
}
