@import 'app/variables.scss';
@import 'app/mixins.scss';

$preview-padding: $aleph-grid-size * 1.5;

.EntityPreview {
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.15rem;
    margin-bottom: 0.25rem;
  }

  &__tag-link {
    text-decoration: none;
  }

  &__tag.#{$bp-ns}-tag {
    font-size: 0.65rem;
    padding: 0.1rem 0.3rem;
    font-weight: 400;
    background: none;
    border: 1px solid $darc-gray-200;
    color: $darc-gray-600;
  }

  &__content {
    padding: $preview-padding;
    overflow-y: scroll;
    height: 100%;
  }

  &__overlay-container .#{$bp-ns}-overlay.#{$bp-ns}-overlay-container {
    @include rtl(right, 0, auto);
    @include rtl(left, auto, 0);
    overflow: visible;
  }

  .info-tabs-padding {
    padding: $preview-padding 0;
  }

  .#{$bp-ns}-drawer-header {
    padding: 0 $aleph-grid-size * 0.5;
    box-shadow: 0 1px 2px rgba(16, 22, 26, 0.15);

    .#{$bp-ns}-heading {
      margin: 0 !important;
    }
  }

  table.data-table td {
    padding-top: $aleph-grid-size * 0.75;
    padding-bottom: $aleph-grid-size * 0.75;
    border-bottom: 1px solid $darc-gray-200;
  }

  td.entity {
    width: 40%;
  }
}
