@import 'app/variables.scss';
@import 'app/mixins.scss';

.Dashboard {
  padding: $aleph-content-padding;

  &__inner-container {
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
    align-items: stretch;
  }

  &__menu {
    flex: none;
    width: $aleph-sidebar-width;
    @include rtlSupportInvertedProp(
      border,
      right,
      1px solid $darc-gray-300,
      null
    );
    @include rtlSupportInvertedProp(
      padding,
      right,
      $aleph-content-padding,
      null
    );

    @media screen and (max-width: $aleph-screen-md-max-width) and (min-width: $aleph-screen-sm-max-width) {
      width: 40%;
    }

    @media screen and (max-width: $aleph-screen-sm-max-width) {
      display: none;
    }
  }

  &__menu-card {
    background: #fff;
    border-radius: $aleph-border-radius;
    margin-bottom: $aleph-grid-size * 1.5;
    overflow: hidden;

    .#{$bp-ns}-menu {
      padding: $aleph-grid-size * 0.5 0;

      .#{$bp-ns}-menu-item {
        padding: $aleph-grid-size * 0.8 $aleph-grid-size * 1.5;
      }
    }
  }

  &__menu-card-title {
    padding: $aleph-grid-size $aleph-grid-size * 1.5;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    color: $aleph-link-color;
  }

  &__actions {
    margin-top: $aleph-grid-size * 2;
  }

  &__title-container {
    margin: $aleph-content-padding 0;
  }

  &__title {
    font-size: 22px;
    color: $black;
    margin: 0 0 $aleph-grid-size;
  }

  &__subheading {
    color: $darc-gray-600;
    line-height: 1.5;
    clear: both;
    max-width: 700px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 6;
    overflow-x: auto;
    @include rtlSupportInvertedProp(
      padding,
      left,
      $aleph-content-padding * 1.2,
      null
    );
  }
}
