@import 'src/react-ftm/variables.scss';

.Count {
  &.#{$bp-ns}-tag {
    font-weight: 600;
  }
  &.no-fill {
    background: none !important;
  }

  &.#{$bp-ns}-intent-primary,
  .#{$bp-ns}-tab[aria-selected='true'] > & {
    background-color: $accent-color !important;
    color: white !important;
  }
}
