@import 'app/variables.scss';

.InvestigationViews {
  &__title-container {
    margin: $aleph-grid-size 0 $aleph-content-padding;
  }

  &__title {
    font-size: 20px;
    margin: 0 0 $aleph-grid-size;
    display: flex;
    align-items: center;

    .#{$bp-ns}-icon {
      color: $aleph-greyed-text;
      vertical-align: initial;
    }
  }

  &__subheading {
    color: $darc-gray-600;
    line-height: 1.5;
    clear: both;
    max-width: $aleph-content-width-limit;
    margin-top: $aleph-grid-size * 2;
  }

  .DualPane {
    padding: 0;
  }
}
