@import 'app/variables.scss';

.SchemaCounts {
  border-radius: $pt-border-radius;
  border: 1px solid rgba($black, 0.08);
  background: #fff;

  &.#{$bp-ns}-menu {
    padding: $aleph-grid-size * 0.5 0;
  }

  .#{$bp-ns}-divider {
    border-bottom: 1px solid rgba($black, 0.08);
    margin: 0.5 * $aleph-grid-size;
  }
}
