name: Build OpenAleph UI
run-name: Build OpenAleph UI ${{ inputs.tag }} (${{ inputs.arch }})

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build from'
        required: true
        default: 'main'
        type: string
      tag:
        description: 'Image tag (e.g., 5.1.0)'
        required: true
        default: '5.1.0'
        type: string
      arch:
        description: 'Architecture to build'
        required: true
        default: 'all'
        type: choice
        options:
          - all
          - arm64
          - amd64
      environment:
        description: 'Environment for secrets'
        type: environment
        required: true
        default: stg-common

jobs:
  build-ui-base:
    uses: lemonde/workflows-gha/.github/workflows/docker-build-push-aws.yaml@v1
    with:
      branch: ${{ inputs.branch }}
      dockerfile: ui/Dockerfile
      image_tag: openaleph-ui-base:${{ inputs.tag }}
      environment: ${{ inputs.environment }}
      arch: ${{ inputs.arch }}
      build_args: |
        ALEPH_TAG=${{ inputs.tag }}
    secrets: inherit

  build-ui:
    needs: build-ui-base
    uses: lemonde/workflows-gha/.github/workflows/docker-build-push-aws.yaml@v1
    with:
      branch: ${{ inputs.branch }}
      dockerfile: ui/Dockerfile.production
      image_tag: openaleph-ui:${{ inputs.tag }}
      environment: ${{ inputs.environment }}
      arch: ${{ inputs.arch }}
      build_args: |
        ALEPH_TAG=${{ inputs.tag }}
    secrets: inherit
