name: Build Multi-Arch OpenAleph
run-name: Build OpenAleph ${{ inputs.tag }} (${{ inputs.arch }})

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build from'
        required: true
        default: 'main'
        type: string
      tag:
        description: 'Image tag (e.g., 5.1.0)'
        required: true
        default: '5.1.0'
        type: string
      arch:
        description: 'Architecture to build'
        required: true
        default: 'all'
        type: choice
        options:
          - all
          - arm64
          - amd64
      environment:
        description: 'Environment for secrets'
        type: environment
        required: true
        default: stg-common

jobs:
  build-and-push:
    uses: lemonde/workflows-gha/.github/workflows/docker-build-push-aws.yaml@v1
    with:
      branch: ${{ inputs.branch }}
      dockerfile: Dockerfile
      image_tag: openaleph:${{ inputs.tag }}
      environment: ${{ inputs.environment }}
      arch: ${{ inputs.arch }}
    secrets: inherit
